<div class="statuses">

  <% if user_signed_in? %>

    <h1>All Statuses</h1><br />
    <div id="status-links">
      <li><%= link_to '+ Add a New Status', new_status_path%></li>
    </div>

    <div id="statuses">
      <% @statuses.each do |status|  %>
          <div class="status">
          <%= image_tag status.user.gravatar_url %>
           <h3><%= status.user.full_name  %></h3>
            <p><%= status.content %><p><br />

              <div class="meta">
                <%= link_to "Posted " + time_ago_in_words(status.created_at) + " ago", status, :class => "post-time" %><br />
                <span class="admin">
                 <%= link_to "Edit", edit_status_path(status), class: "green button" %>
                 <%= link_to "Delete", status, method: :delete, data: { confirm: "You sure?"}, class: "red button" %>
                </span>
              </div>
          </div>
          <br />
      <% end %><!-- End Status Loop -->
     </div><!-- End Statuses -->
  <% else %>

  <center>
    <h1>Welcome to the spring.</h1>
    <h4>Please <%= link_to 'Log in', login_path %> or <%= link_to 'Register', register_path %> to continue</h4>
   </center>
  <% end %>
</div><!-- End Statuses -->
