<div class="section">
  


</div>

<div class="container">
  <div class="statuses">
    <center>

    <h1>What's going on?</h1><br />
    <%= link_to 'Create a New Status', new_status_path, :class => "create_new" %>
    </center>

    <% @statuses.each do |status| %>

      <div class="status">
        
        <h3><%= status.name %></h3><br />
        <p><%= status.content %><p><br />

          <div class="meta">
            <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
            <span class="admin">
             <%= link_to "Edit", edit_status_path(status), :class => "edit" %>
             <%= link_to "Delete", status, method: :delete, data: { confirm: "You sure?"}, :class => "delete" %>
            </span>
          </div>
      </div>
      <br />

    <% end %>

  </div><!-- End Statuses -->
</div>
