  <div class="statuses">
    <center>
    <h1>What's going on?</h1><br />
    </center>

    <% @statuses.each do |status| %>

      <div class="status">
        
        <h3 class="name"><%= status.name %></h3><br />
        <p><%= status.content %><p><br />

          <div class="meta">
            <%= link_to "Posted " + time_ago_in_words(status.created_at) + " ago", status, :class => "post-time" %><br />
            <span class="admin">
             <%= link_to "Edit", edit_status_path(status), class: "edit button" %>
             <%= link_to "Delete", status, method: :delete, data: { confirm: "You sure?"}, class: "delete button" %>
            </span>
          </div>
      </div>
      <br />

    <% end %>

  </div><!-- End Statuses -->
