<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Rootbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar">
	<div class="container">
		<%= link_to(image_tag("logo.svg", :id => "logo"), feed_path) %>
		<!-- TOOLBOX --> 
		<div id="toolbox-container">
			<div id="toolbox-tab"></div>
			<div id="toolbox">
				<div id="dashboard">
					<% if user_signed_in? %>
					<%= image_tag current_user.gravatar_url %>
						<h3 class="welcome-msg">Welcome, <%= link_to  current_user.first_name, edit_user_registration_path %></h3>
					<% else %>
						<h3 class="welcome-msg">Please Log In</h3>
					<% end %>
				</div><!-- End Dashboard -->
				<div id="control-panel">
					<% if user_signed_in? %>
						<%= link_to 'New Status', new_status_path, class: "green button" %>
						<%= link_to('Logout', logout_path, class: "red button") %>
					<% else %>
						<%= link_to 'Log in', login_path, class: "blue button" %>
						<%= link_to('Register', register_path, class: "blue button") %>
					<% end %>
				</div><!-- End Control Panel -->
			</div><!-- End Toolbox -->
		</div>
	</div>
</div>

<!-- Notifications -->
<% flash.each do |type, message| %>
	<div class="alert <%= flash_class type %>">
			<%= message %>
	</div>
<% end %>

<!-- Header Section -->
<div class="section">
</div>

<!-- Main Content -->
<div class="container">
	<%= yield %>
</div>

<footer></footer>

</body>
</html>
